# Use the following in your home dir's .gitconfig file to source from this one
#
# [include]
#   path = ~/.config/git/.gitconfig

[user]
  name = Andres Osorio
  email = andres.osoriogr@gmail.com

[includeIf "gitdir:~/dev/work/ndg/"]
  path = ~/.config/git/work.ndg.gitconfig

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch -vv
  wt = worktree
  lg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  f = fetch
  fp = fetch --prune
  prune-gone = "!git branch -vv | awk '/: gone]/ {print $1}' | xargs git branch -D"
  ac = "!f() { git add . && git commit -m \"$1\"; }; f"
  # Replaces the most recent commit with a new one that includes whatever is currently staged;
  # useful when you accidentally committed secrets and need to remove them from history as well
  cia = commit --amend
  cian = commit --amend --no-edit

[init]
  defaultBranch = main

[core]
  autocrlf = input
  excludesfile = ~/.config/git/.gitignore_global
  pager = delta

[merge]
  ff = only
  conflictStyle = zdiff3

[pull]
  ff = only

[fetch]
  prune = true

[interactive]
  diffFilter = delta --color-only

[delta]
  side-by-side
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection

