// `hide_floating_panes=true` doesn't work when `default_tab_template` is used - this is a bug that
// has not been addressed in the zellij project; also putting the `tab-bar` and `status-bar` on the tab
// itself to avoid using `default_tab_template` doesn't display properly for some reason - leaving it
// as until they fix the bug
layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    tab name="misc" cwd="~/dev/work/ndg/misc" split_direction="vertical" hide_floating_panes=true {
        // pane name="editor" command="hx" size="65%" focus=true {
        //     args "README.md"
        // }
        // pane stacked=true size="35%" {
        //     pane name="misc" expanded=true
        //     pane name="vpn" cwd="vpn"
        //     pane name="db" cwd="db/instances"
        // }

        pane name="editor" command="hx" focus=true {
            args "README.md"
        }
        floating_panes {
            pane name="misc" {
                width "98%"
                height "93%"
            }
            pane name="claude" {
                // x 3
                y "6%"
                width "98%"
                height "93%"
            }
            // pane name="vpn" cwd="vpn"
            // pane name="db" cwd="db/instances"
        }
    }
}
