layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    tab name="info" cwd="~/dev/work/ndg/info" split_direction="vertical" {
        pane name="editor" command="hx" size="60%" focus=true {
            args "README.md"
        }
        pane stacked=true size="40%" {
            pane name="git" expanded=true
            pane name="claude"
            pane name="vpn" cwd="vpn"
            pane name="db" cwd="db/instances"
            pane name="glow" command="glow"
        }
    }
}
