layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    // `hide_floating_panes=true` doesn't work when `default_tab_template` is used - this is a bug that
    // has not been addressed in the zellij project; also putting the `tab-bar` and `status-bar` on the tab
    // itself to avoid using `default_tab_template` doesn't display properly for some reason - leaving it
    // as until they fix the bug
    tab name="info" cwd="~/dev/work/ndg" split_direction="vertical" hide_floating_panes=true {
        pane name="editor" size="60%" focus=true
        pane stacked=true size="40%" {
            pane name="git" expanded=true
        }
        floating_panes {
            pane name="claude" {
                width "95%"
                height "90%"
            }
            // pane name="other" {
            //     x "4%"
            //     y "9%"
            //     width "95%"
            //     height "90%"
            // }
        }
    }
}
